<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         .part{
            display: flex;
        }
        .part1{
            width: 40%;
        }
        .part2{
            width:100%;

        }
    </style>
   
</head>
<body>
    <div class="part">
        <div class="part1">
            Hi
            <button>hleo</button>
        </div>
        <div class="part2">
            hello
            <button>hi</button>
        </div>
    </div>
</body>
</html>