{% load static %}
<style>
    .menu-title{
        padding-left: 10px;
    }
</style>
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li> -->
        {% if user.groups.first.name == 'gate_user' %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'batch_verification' %}">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Batch Verification</span>
            </a>
        </li>
        {% endif %}

        {% if user.groups.first.name == 'inspection' %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'batch_verification' %}">
                <i class="fas fa-list-check"></i>
                <span class="menu-title">Batch Verification</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'printing' %}">
                <i class="fas fa-print"></i>
                <span class="menu-title">QR Printing</span>
            </a>
        </li>
        {% endif %}

        {% if user.groups.first.name == 'store_user' %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'printing' %}">
                <i class="fas fa-print"></i>
                <span class="menu-title">QR Printing</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'api_home' %}">
                <i class="fas fa-cogs"></i>
                <span class="menu-title">Activation</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'list_product_index' %}">
                <i class="fas fa-box-open"></i>
                <span class="menu-title">GRN and Individual Products</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'list_products' %}">
                <i class="fas fa-box"></i>
                <span class="menu-title">Products</span>
            </a>
        </li>
        {% endif %}

        {% if user.groups.first.name == 'admins' or user.groups.first.name == 'inlet_user' %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'batch_verification' %}">
                <i class="fas fa-list-check"></i>
                <span class="menu-title">Batch Verification</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'printing' %}">
                <i class="fas fa-print"></i>
                <span class="menu-title">QR Printing</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'api_home' %}">
                <i class="fas fa-cogs"></i>
                <span class="menu-title">Activation</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'list_product_index' %}">
                <i class="fas fa-box-open"></i>
                <span class="menu-title">GRN and Individual Products</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'list_products' %}">
                <i class="fas fa-box"></i>
                <span class="menu-title">Products</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://10.10.0.18:8500">
                <i class="fas fa-file-upload"></i>
                <span class="menu-title">Insert QR PDF</span>
            </a>
        </li>
        <hr>
        {% endif %}

        {% if user.groups.first.name == 'admins' or user.groups.first.name == 'managment_user' %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'managment_home_black' %}">
                <i class="fas fa-tachometer-alt"></i>
                <span class="menu-title">Management Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'inquiry' %}">
                <i class="fas fa-question-circle"></i>
                <span class="menu-title">Inquiry</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'api_home' %}">
                <i class="fas fa-cogs"></i>
                <span class="menu-title">Activation</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'sale_orders' %}">
                <i class="fas fa-shopping-cart"></i>
                <span class="menu-title">Sale Orders</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'vehicle_list' %}">
                <i class="fas fa-truck"></i>
                <span class="menu-title">Vehicle</span>
            </a>
        </li>
        <hr>
        {% endif %}

        {% if user.groups.first.name == 'admins' or user.groups.first.name == 'outlet_user' %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'outlet_home' %}">
                <i class="fas fa-store"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create_sale_order_group' %}">
                <i class="fas fa-list-alt"></i>
                <span class="menu-title">Create Packing List</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'sale_order_group_history' %}">
                <i class="fas fa-history"></i>
                <span class="menu-title">All Packing List</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'veichal_allocation' %}">
                <i class="fas fa-truck-loading"></i>
                <span class="menu-title">Vehicle Allocation</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'veichal_allocation_history' %}">
                <i class="fas fa-truck-moving"></i>
                <span class="menu-title">Tracking ID</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'out_verification' %}">
                <i class="fas fa-check-double"></i>
                <span class="menu-title">Outword Verification</span>
            </a>
        </li>
        <hr>
        {% endif %}

        {% if user.groups.first.name == 'activators' %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'list_batch' %}">
                <i class="fas fa-list-ul"></i>
                <span class="menu-title">List Batches</span>
            </a>
        </li>
        {% endif %}

        {% if user.groups.first.name == 'admins' %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_only' %}">
                <i class="fas fa-user-shield"></i>
                <span class="menu-title">Admin Only</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'chat' %}">
                <i class="fas fa-comments"></i>
                <span class="menu-title">AI Chat</span>
            </a>
        </li>
        <hr>
        {% endif %}
    </ul>
</nav>
