{% extends 'base1.html' %}
{% block content %}
<style>
  body {
    font-family: "Inter", sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
  }

  .container {
    margin: 50px auto;
    padding: 20px;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }

  .page-header {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    transition: all 0.3s ease;
  }

  .input {
    flex: 1;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    outline: none;
  }

  button {
    height: 50px;
    width: 60px;
    border: none;
    background-color: #764ba2;
    color: #fff;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  button:hover {
    background-color: #5f3e7e;
  }

  .dataTables_wrapper {
    margin-top: 20px;
  }

  .dataTables_length select {
    padding: 5px;
    margin-right: 10px;
  }
</style>
<div class="container">
  <div class="page-header">Inquiry</div>
  <form method="post" class="box">
    {% csrf_token %}
    <input type="text" name="query" id="query" class="input" placeholder="Search by ID, Batch ID, Product Name, Status, etc." />
    <button type="submit" class="pulse-animation">Search</button>
  </form>
</div>
<div id="inquiry-results" class="container">
  {% if search_results %}
    <h5 style="color: #333;">Search Results:</h5>
    <table id="resultsTable" class="display">
      <thead>
        <tr>
          <th>ID</th>
          <th>Batch ID</th>
          <th>Product Name</th>
          <th>Is Insert Box</th>
          <th>Box Capacity</th>
          <th>Quantity In Box</th>
          <th>Status</th>
          <th>Added Date</th>
          <th>Received By</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        {% for item in search_results %}
          <tr>
            <td><a href="{% url 'get_product_details_master' item.uuid  %}">{{item.uuid }}</a></td>
            <td>{{ item.batch_id }}</td>
            <td>{{ item.product.name }}</td>
            <td>{{ item.product.is_insert }}</td>
            <td>{% if item.product.is_insert %}{{ item.box_capacity }}{% else %}N/A{% endif %}</td>
            <td>{% if item.product.is_insert %}{{ item.quantity_per_box }}{% else %}N/A{% endif %}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.added_date }}</td>
            <td><span style="text-transform: capitalize">{{item.received_by }}</span></td>
            <td>
              <a class="link" data-bs-toggle="collapse" href="#{{item.uuid}}" aria-expanded="false" aria-controls="collapseExample">
                Extra
              </a>
              <ul class="collapse" id="{{item.uuid}}">
                {% for key,value in item.data_json.items %}
                  {% for sub_key, sub_value in value.items %}
                    <li><strong>{{ sub_key }}:</strong> {{ sub_value }}</li>
                  {% endfor %}
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <center>
      <p>No matching items found.</p>
    </center>
  {% endif %}
</div>
<script>
  $(document).ready(function() {
    $('#resultsTable').DataTable();

    var links = document.querySelectorAll(".link a");

    links.forEach(function (link) {
      link.addEventListener("click", function (event) {
        event.preventDefault();
        var targetId = this.getAttribute("href").substring(1);
        var targetElement = document.getElementById(targetId);
        targetElement.classList.toggle("show");
      });
    });
  });
</script>
{% endblock %}
